[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ocrmypdf = "*"
pdfplumber = "*"
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["dotenv"], version = "*"}
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
